.header {
    padding: 15px 85px;
    display: flex;
    justify-content: space-between;
    column-gap: 437px;
    border-bottom: 1px solid #E5E7EB;
}

.header_navigation {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    display: inline-flex;
    color: black;
    justify-content: space-between;
    column-gap: 24px;
}

.header_navigation a {
    color: var(--textColor);
}

.header_navigation a1 {
    color: #7E3AF2;
}

